.component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 8vmin;
    min-width: 30px;
    height: 8vmin;
    min-height: 30px;
    border-width: 1px;
    border-color: rgba(90, 84, 84, 0.5);
    border-style: dotted;
    user-select: none;
}

.component:hover {
    border-style: solid;
    border-color: rgba(245, 222, 179, 0.5);
    cursor: pointer;
}
