.component {
    padding: 0;
    margin: auto;
    width: 72vmin;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component button img {
    width: 75%;
    height: 75%;
}

.component button {
    width: 7vmin;
    min-width: 25px;
    height: 7vmin;
    min-height: 25px;
    padding: 0;
    background-color: inherit;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(245, 245, 220, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.component button:hover {
    border-width: 2px;
    border-color: rgba(245, 222, 179, 0.5);
    cursor: pointer;
}

.component button:focus {
    outline: none;
}
