#nbr-bar {
  grid-area: other-bars;
}

.nbr-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nbr-slct {
  width: 4.5vmin;
  min-width: 15px;
  height: 4.5vmin;
  min-height: 15px;
}

.nbr-cntr {
  width: 1.75vmin;
  min-width: 8px;
  height: 1.75vmin;
  min-height: 8px;
  border-radius: 50%;
}
